body {
	width: 500px;
	margin: auto;
	padding: 50px;
	background: #DFF6FF;


}

div.main {
	width: 400px;
	margin: 100px auto 0px auto;
}
label {

	
	font-family: sans-serif;
	font-size: 18px;
	font-style: italic;
	}

input#name {
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: o;
	padding: 7px;
	background-color: #fff;
}

input#submit {
	width: 200px;
	padding: 7px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
	border: none;
	border-radius: 3px;
	background-color: rgba(250, 100, 0, 0.8);
	color: #fff;
}	